.myClass {
  text-align: center;
  background: none;
  margin-top: 100px;
  margin-bottom: 60px;
}

.sectionLight {
  background-color: #eceeef;
  padding: 2rem;
}

.sectionDark {
  background-color: #cccccc;
  padding: 2rem;
}



h5.modal-title{
  margin: auto;
}

.modalFormWrapper{
  padding-top: 2rem;
}

.imageCenter{
  display:block;
  margin: auto;
  
}

.btnCenter{
  display:block;
  margin:auto;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%
}

.fab{
  margin:10px;
 
}
.fa-facebook-square{
  color:#3b5998;
}

.fa-google-plus-square{
  color:#c32f10;
}

.fa-instagram{
  color:#ffffff;
}